{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/reef-admin.css' %}">
{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}
{% if has_permission %}
<ul id="reef-admin-links">
  <li><a href="{% url 'manage-survey-list' %}">{% translate "Survey builder" %}</a></li>
  <li><a href="{% url 'manage-survey-results' %}">{% translate "Survey results" %}</a></li>
  <li><a href="{% url 'admin:precomputer-run' %}">{% translate "Precomputer" %}</a></li>
  <li><a href="{% url 'admin:subjects_subject_sync' %}">{% translate "Tags Sync" %}</a></li>
  <li><a href="{% url 'admin:popularity' %}">{% translate "Popularity" %}</a></li>
</ul>
{% endif %}
{% endblock %}

{% block userlinks %}
{{ block.super }}
{% endblock %}
