{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'vendor/surveyjs/survey-core.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/surveyjs/survey.analytics.min.css' %}">
  <style>#surveyVizPanel { min-height: 60vh; }</style>
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo; <a href="{% url 'manage-survey-list' %}">Surveys</a>
    &rsaquo; Results: {{ survey.title }}
  </div>
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
  <h1>{{ survey.title }} <small>({{ survey.slug }})</small></h1>
  <p>Responses: <span id="responseCount">…</span></p>
  {{ config|json_script:"reef-config" }}
  <div id="surveyVizPanel"></div>
{% endblock %}

{% block extrabody %}
  <script src="{% static 'vendor/surveyjs/survey.core.min.js' %}"></script>
  <script src="{% static 'vendor/surveyjs/plotly.min.js' %}"></script>
  <script src="{% static 'vendor/surveyjs/survey.analytics.min.js' %}"></script>
  <script src="{% static 'surveys/init-analytics.js' %}"></script>
{% endblock %}
