registry=https://registry.npmjs.org/
strict-ssl=true
save-exact=true
audit=false
# don't run preinstall/postinstall scripts
# this is a common mechanism for compromised packages
# and the worker doesn't need it
ignore-scripts=true
provenance=true
# Requires package versions to be N days old before install
# Gives community time to flag malicious publishes
min-release-age=3
# don't allow packages from github:user/repo, git+ssh://, git+https
allow-git=none
